{% extends "main_layout.html" %}

{% block title %}
    ADD PURCHASE
{% endblock %}

{% block page %}
    ADD PURCHASE
{% endblock %}

{% block content %}

<div class="loginbox">

    <!--form action="{% url 'register' %}" method="post">-->
    <form action="{% url 'addPurchase' %}" method="post">
        {% csrf_token %}
        
        <input type="hidden" name="task" value="addpurchase">

        <h4 style="color:darkred; font-weight:bold;">ADD PURCHASE</h4><hr><br>
            
           
              <label class="menulabels">DATE:</label>
              <input type="date" style="text-align:center;" id = "dateOfPurchase" name ="dateOfPurchase">
              <br><br>

              <label class="menulabels">CATEGORY:</label>
              <select id="category" name="category">
                <option value="Food" selected>Food</option>
                <option value="Petrol">Petrol</option>
                <option value="Oil">Oil</option>
              </select>

              <label class="labels2">NAME:</label>
              <select id="name" name="name">
                <option value="default">Select</option>
                <option value="tesco">Tesco</option>
                <option value="asda">Asda</option>
                <option value="iceland">Iceland</option>
              </select><br>
            
    
              <br><br>
        
          
            <label class="menulabels">PURCHASE:</label>
            <input name="purchase" type="textbox" autocomplete="off"/><br><br>
            
            <label class="menulabels">PAYMENT:</label>
            <input name="payment" type="textbox" autocomplete="off"/><br><br>
            

            <button class="btn btn-primary" type="submit" value = "Login">Submit</button> 
            <button class="btn btn-secondary" type="submit" value = "Cancel">Cancel</button> <br> <br>
            <br> <br>
    </form>
    {% endblock %}