{% extends "main_layout.html" %}

{% block title %}
    NEW INVOICE
{% endblock %}

{% block page %}
    CREATE AN INVOICE P3
{% endblock %}

{% block content %}

<div class="loginbox">

    <form action="{% url 'newInvoice' %}" method="post">
        {% csrf_token %}
        
        <h4 style="color:darkred; font-weight:bold;">{{ month }} {{ year }} Invoice for {{ parentname }}</h4><hr>
        
        <!-- holder for data to be passed to next page -->
        <input type="hidden" name="month" value="{{ month }}">
        <input type="hidden" name="year" value="{{ year }}">
        <input type="hidden" name="parentname" value="{{ parentname }}">
        <input type="hidden" name="children" value="{{ children }}">
        <input type="hidden" name="invoice" value="{{ invoice.id }}">

        

        <br>
        <h4 style="color:darkblue; font-weight:bold;">OTHER CHARGES</h4>
        <br>

        <div>
            <label style="font-weight:bold; font-size: large; font-style: italic;">Late Payment Charge?</label>
            
            <input class= "radios" type="radio" id="LPAYyes" name="latepayment" value="yes"> 
            <label class= "radiolabels" for="LPAYyes">Yes</label>
            
            <input class = "radios" type="radio" id="LPAYno" name="latepayment" value="no" checked> 
            <label class = "radiolabels" for="LPAYno">No</label>
        </div>         

            <br>
        <div>
            <label style="font-weight:bold; font-size: large; font-style: italic;">Late Pickup Charge?</label>
           
            <input class = "radios" type="radio" id ="LPICKyes" name="latepickup" value="yes">
            <label class = "radiolabels" for="LPICKyes">Yes</label>
            
            <input class = "radios" type="radio" id="LPICKno" name="latepickup" value="no" checked>
            <label class = "radiolabels" for="LPICKno">No</label>
        </div>
            <br><br>
            <label class="menulabels">REASON:</label><br>
            <input style="height:75px; width:300px" name="reason" type="textbox" autocomplete="off" /><br><br><br>


              <input type="hidden" name = "page" value="p3">
              <input type="hidden" name = "update" value="no">

            

            
            <button class="btn btn-primary"  style="margin-right: 30px" type="submit" value = "cancel" name="cancel">CANCEL</button> 
            <button class="btn btn-primary" type="submit" value = "next">GET INVOICE</button> 
            <br> <br>
    </form>
    {% endblock %}

