{% extends "main_layout.html" %}

{% block title %}
    UPDATE HOLIDAY
{% endblock %}

{% block page %}
    REMOVE HOLIDAY
{% endblock %}

{% block content %}

<div class="loginbox">
  <form action="{% url 'removeHoliday' %}" method="post">
    {% csrf_token %}
    
    <h4 style="color:darkred; font-weight:bold;">REMOVE HOLIDAY</h4><hr><br>
        
          <label class="menulabels">Select Holiday to remove;</label> <br><br>
          
          
          {% for holiday in holidays %}
            <input type="radio" id={{holiday.id}} name="holiday" value={{holiday.id}}>
            <label for={{holiday.id}}>{{ holiday.holiday }} {{ holiday.datefrom.year }}</label><br>
          {% endfor %}
          
        </select><br><br>
            
        <button class="btn btn-primary" type="submit" value = "Login">Submit</button> <br> <br>
        
</form>

    {% endblock %}



<!--      
-->