{% extends "main_layout.html" %}

{% block title %}
    ADD CHILD
{% endblock %}

{% block page %}
    NEW CHILD P4
{% endblock %}

{% block content %}

<div class="loginbox">
    <!--WHEN LOG IN BUTTON CLICKED TAKES TO LOGIN ROUTE (KIDS-URLS) -->
    <form action="{% url 'newChild4' %}" method="post" >
        {% csrf_token %}
        
            <h4 style="color:darkred; font-weight:bold;">SELECT CHILDS PARENT</h4><hr><br>
            
            
            <h4> Current Parent </h4><br>


            {% for parent in parents %} 
              {% if parent.surname != "blank" %}
                <!--<input type="radio" id={{parent.id}} name="parent" value= "{{parent.firstname}} {{parent.surname}}">-->
                <input type="radio" id={{parent.id}} name="parent" value= {{parent.id}}>
                <label for={{parent.id}}>{{ parent.firstname }} {{ parent.surname }}</label><br>
              {% elif totalparents == 1 %}
                <h3> No current Parents </h3>

              {% endif %}
            {% endfor %}
            
            
            <br> <h4>New Parent</h4><br>

            <input type ="radio" id ="newparent" name ="parent" value="New Parent">
            <label for="newparent">New Parent</label><br>


            
          </select><br><br>
              
          
          <input type="hidden" id="page4" name="childID" value={{id}}>
          
            <button class="btn btn-primary" type="submit" value = "Cancel" name ="cancel">Cancel</button> 
            <button class="btn btn-primary" type="submit" value = "Continue" name ="continue">Continue</button> <br> <br>
            
            <br> <br>
            
    </form>
</div>


{% endblock %}