
{% extends "main_layout.html" %}

{% block title %}
    UPDATE CHILD CONTACTS
{% endblock %}

{% block page %}
    UPDATE CHILD CONTACTS
{% endblock %}

{% block content %}

<div class="loginbox">
    <!--WHEN LOG IN BUTTON CLICKED TAKES TO LOGIN ROUTE (KIDS-URLS) -->
    <form action="{% url 'updateContacts' %}" method="post" >
        {% csrf_token %}

        <input type="hidden" id="id" name="childID" value= "{{ id }}">

            <h4 style="color:darkred; font-weight:bold;">UPDATE CHILDS CONTACTS</h4><hr><br>
            
            <label class="labels">Main Contact: </label>
              <select id="maincontact" name="maincontact" value="{{ child.maincontact }}">
                  <option value="Mum" >Mum</option>
                  <option value="Dad">Dad</option>
                  <option value="Other">Other</option>
                </select><br><br>
            
            <label>Main Number:</label>
                <input type="tel" name="c1" pattern="[0]{1}[1-9]{10}" value="{{ child.c1 }}"><br><br>
                <label>Alternative Number:</label>
                <input type="tel" name="c2" pattern="[0]{1}[1-9]{10}" value="{{ child.c2 }}">
                <br><br>
            
            <label class="labels">Other Contact:</label>
                <select id="othercontact" name="othercontact" value="{{ child.othercontact }}">
                    <option value="Mum">Mum</option>
                    <option value="Dad">Dad</option>
                    <option value="Other">Other</option>
                  </select><br><br>
              
            <label>Other Number:</label>
                  <input type="tel" name="c3" pattern="[0]{1}[1-9]{10}" value="{{ child.c3 }}">
            
            <br><br>
  
            
            <button class="btn btn-primary" type="submit" value = "Cancel">CANCEL</button> 
            <button class="btn btn-primary" type="submit" value = "Login">NEXT</button> <br> <br>
            
            <br> <br>
            
    </form>
</div>


{% endblock %}